.product{
    
    height: 510px;
    width: 310px;
    margin: 0 auto;
    border: 1px solid gray;
    position: relative;
    

}
.product img{
     width: 286px;
     height: 286px; 
     border-radius: 8px;
     display: block;
     margin: 0 auto;
  
}
.product-info{
    margin:0 14px;
}
.product-info p{
    margin-bottom: 0;
    
}
.product-name{
  font-size: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px; 
  margin-top: 7px;
  
}
.btn-cart{
  width: 100%;
  background: #FFE0B3;
  border: none;
  padding: 10px;
  border-radius: 0 0 8px 8px;
  
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 0;
  
}
.btn-cart:hover{
    background-color: orange;
    cursor: pointer;
}
